backcall==0.1.0
beautifulsoup4==4.6.0
decorator==4.2.1
ipdb==0.11
ipython==6.3.0
ipython-genutils==0.2.0
jedi==0.11.1
lxml==4.2.1
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
PyAutoGUI==0.9.36
Pygments==2.2.0
PyMsgBox==1.0.6
PyScreeze==0.1.14
python3-xlib==0.15
PyTweening==1.0.3
selenium==3.11.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
